<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tournament Bracket</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Tournament Bracket</h1>
            <% Object.keys(rounds).forEach(function(i) { %>

                <h2 class="subtitle">Round <%= i %></h2>

                <div class="content">
                    <ul>
                        <% for (var j=0; j < rounds[i].length; j++) { %>

                            <li>

                                <p>
                                    <%= rounds[i][j].player1.name %> VS <%= rounds[i][j].player2.name %>
                                </p>
                                <% if (rounds[i][j].winner) { %>
                                    <p>
                                        Winner: <strong><%= rounds[i][j].winner.name %></strong>
                                    </p>
                                <% } %>
                                <hr/>
                            </li>

                        <% } %>
                    </ul>
                </div>
            <% }) %>
        </div>
    </section>
</body>

</html>